* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    margin-top: 25px;
    color: #FDB822;
}

body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #3B2B2B;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}

main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

aside{
    height: 100vh;
    background-image: url(../imagens/feijoada.png);
    background-size: cover;
    background-repeat: no-repeat;
}

form{
    margin: 200px 200px 0 150px;
    align-items: center;
    font-size: 25px;
}

input[type="text"]{
    padding: 20px;
    font-size: 25px;
    height: 25px;
    width: 400px;
    margin-top: 10px;
    border: none;
    box-shadow: none;
    text-decoration: none;
    border-radius: 3px;
}

button{
    margin-top: 25px;
    text-align: center;
    font-size: 20px;
    background-color: #FBCF89;
    height: 55px;
    width: 250px;
    border-radius: 10px;
    border: none;
    margin-left: 2px;
}

button:hover{
    cursor: pointer;
    opacity: 0.8;
}

button:active{
    opacity: 0.6;
}

.actions #concluirBtn{
    margin-top: 90px;
    width: 400px;
}

.actions button{
    margin-left: 8px;
}

#retirar{
    width: 50px;
}
