* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3B2B2B;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 25px;
}

main{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    height: 100%;
}

footer{
    text-align: center;
    background-color: #554141;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 200px; 
}

a{
    margin-right: 50px;
}

p{
    margin-bottom: 10px;
}

button{
    margin-top: 25px;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    background-color: #FBCF89;
    height: 55px;
    width: 250px;
    border-radius: 10px;
    border: none;
    margin-top: 400px;
    margin-left: 20px;
}

button:hover{
    cursor: pointer;
    opacity: 0.8;
}

button:active{
    opacity: 0.6;
}

img{
    justify-content: space-between;
    height: 60px;
    width: 60px;
}

#macarrão-na-chapa {
    height: 20vh;
    width: 20vw;
    background-image: url(../imagens/macarrao.jfif);
    background-size: cover;
    background-repeat: no-repeat;
}

#baião {
    height: 20vh;
    width: 20vw;
    background-image: url(../imagens/baião.jfif);
    background-size: cover;
    background-repeat: no-repeat;
}

#acarajé {
    height: 20vh;
    width: 20vw;
    background-image: url(../imagens/acarajé.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#arroz {
    height: 20vh;
    width: 20vw;
    background-image: url(../imagens/arroz.jfif);
    background-size: cover;
    background-repeat: no-repeat;
}